# I will use a mix of Google and linux-kernal style guide.
BasedOnStyle: Google
Language: Cpp
Standard: Cpp11
Cpp11BracedListStyle: true
IndentWidth: 4
# I know, I know IBM legacy blah blah, but I think 100 is acceptable with todays Standards
ColumnLimit: 100
BreakBeforeBraces: Linux
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignOperands: true
AllowShortFunctionsOnASingleLine: Empty
DerivePointerAlignment: false
PointerAlignment: Left