# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Don't ignore make-file
!Makefile
!Oldmakefile

# Ignore specific extensions


# Executables
*.exe
*.out
*.app

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Log files

*.tlog

# Ignore cmake build dirs
/build
/CMakeFiles
/DLL

#Don't ignore these files from build
!/src/build/debug/plot_lines.py
!/src/build/debug/example.csv

# Ignore Visual Studio dir
.vs


# Ignore source trail files
*.srctrlbm
*.srctrldb
*.srctrlprj

# Ignored Qt files
*.pro.user
build-QTDrawLine-Desktop_Qt_5_9_2_MSVC2017_64bit-Debug
build-QTDrawLine-Desktop_Qt_5_9_2_MSVC2015_64bit-Debug
build-QTDrawLine-Desktop_Qt_5_9_2_MSVC2017_32bit-Debug
build-QTDrawLine-Desktop_Qt_5_9_2_MSVC2015_32bit-Debug