# Executables
*.exe
*.out
*.app

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Log files
*.tlog

# Ignore cmake build dirs
/build
/CMakeFiles

# Ignore Visual Studio dir
.vs

# Ignore source trail files
*.srctrlbm
*.srctrldb
*.srctrlprj

# Ignored Qt files
*.user