# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Don't ignore make-file
!Makefile
!Oldmakefile

# Ignore specific extensions


# Executables
*.exe
*.out
*.app

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Ignore cmake build dirs
/src/build
/src/CMakeFiles
#Don't ignore these files from build
!/src/build/debug/plot_lines.py
!/src/build/debug/example.csv